{{ partial "header.html" . }}

<section class="container">
  <section class="row">
    <section class="four columns">
      <img
        src="/about/about-me.webp"
        alt="" class="about-img"
      />
      <p></p>
      <center>
        <h4 class = "about-name">
          Joseph Eatson
        </h4>
        <h5 class = "about-pronouns">
          (He/They)
        </h5>
        <h5 class = "about-institution">
          University of Sheffield
        </h5>
      </center>
    </section>

    <section class="eight columns">
      <h2>Hi There!</h2>
      <p>
        I am a postdoctoral researcher at the University of Sheffield department of astrophysics. I was born approximately {{ div (sub now.Unix 795657600) 1000000 }} megaseconds ago (as of the last time this website was built).
      </p>

      <section class="row">
        <section class="six columns">
          <h5>Interests</h5>
          <ul style="list-style-position: outside; margin-left: 32px;">
            <li>
              Numerical simulation
            </li>
            <li>
              Colliding Wind Binary systems
            </li>
            <li>
              Stellar evolution
            </li>
            <li>
              Interstellar dust
            </li>
            <li>
              HPC & parallel programming
            </li>
            <li>
              Photography
            </li>
            <li>
              Baking
            </li>
          </ul>
        </section>
      
        <section class="six columns">
          <h5>Education</h5>
          <ul style="list-style-position: outside; margin-left: 32px;">
            <li class="uni-list">
              PhD in Astrophysics
              <p style="font-size: 0.8em; font-style: italic; margin-bottom: 0rem;">
                University of Leeds, 2022
              </p>
              <p style="font-size: 0.8em; font-style: italic; margin-bottom: 0rem;">
                <a href="https://raw.githubusercontent.com/atomsite/Thesis/master/Thesis.pdf">
                  Simulations of Dusty Colliding Wind Binaries
                </a>
              </p>
            </li>
            <li class="uni-list">
              MPhys in Astrophysics
              <p style="font-size: 0.8em; font-style: italic; margin-bottom: 0rem;">
                University of Leeds, 2017
              </p>
            </li>
            <li class="uni-list">
              BSc in Physics
              <p style="font-size: 0.8em; font-style: italic; margin-bottom: 0rem;">
                University of Leeds, 2016
              </p>
            </li>
            <li class="school-list">
              A-Levels
              <p style="font-size: 0.8em; font-style: italic; margin-bottom: 0rem;">
                Enfield Grammar, 2013
              </p>
            </li>
          </ul>
        </section>

      </section>
    </section>
  </section>
  

  <hr>

  
  <h2>
    Publications
  </h2>
  
  <div class="row">
    <small>
      <ul class="uni-list"style="list-style-position: outside; margin-left: 32px;">
        <li>
          <i>
            Eatson, J. W., Pittard, J. M., & Van Loo, S. (2022)
            <br>
            <a href="https://ui.adsabs.harvard.edu/abs/2022arXiv220407397E/abstract">
              An exploration of dust grain growth within WCd systems using an advected scalar dust model
            </a>
          </i>
        </li>
        <li>
          <i>
            Eatson, J. W., Pittard, J. M., & Van Loo, S. (2022)
            <br>
            <a href="https://raw.githubusercontent.com/atomsite/phd-papers/main/wr-140/wr-140.pdf">
              Exploring dust growth in the episodic WCd system WR140
            </a>
          </i>
        </li>
      </ul>
    </small>
  </div>
</section>


{{ partial "footer.html"}}